body{
    background-color: #143f6b;
}
#nama{
    font-size: 3em;
    color: #5383d3;
}
header{
    float: left;
}
nav li{
    display: inline-block;
    font-size: 1.75em;
}
nav li a{
    display: inline-block;
    color: #ffffff; 
    padding: 0.5em 0.5em;
    text-align: center;
    text-decoration: none;
    font-size: 0.75em;
}
#exercies{
    background-color: #e4e4e4;
    font-size: 3em;
    text-align: center;
    color: black;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
    padding-top: 4px;
}

.column {
    float: right;
    width: 40%;
    padding-top: 1.75em;

  }

.top-nav{
    border: 2px solid black;
    background-color: #143f6b;
    border-radius: 20px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.default {
    border-color: #143f6b;
    color: #ffffff;
  }
  
  .default:hover {
    background: #e7e7e7;
    color: black;
  }
  
  .marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height:450px;
    overflow-x: hidden;
  }
  
  .track {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 25s linear infinite;
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  